body {
    margin: 0;
    background-color: rgb(146, 146, 146);
}
.nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 60px;
}
.burger {
    display: none;
    height: 64px;
    width: 64px;
    background-color: pink;
    cursor: pointer;
    position: absolute;
    margin: 18px;
}
.nav .logo {
    display: inline-block;
    line-height: 60px;
    margin-left: 100px;
}
.nav-items {
    list-style-type: none;
    display: inline;
    float: right;
    line-height: 60px;
    margin: 0;
    margin-right: 100px;
}
.nav-items li {
    display: inline;
}
.footer {
    height: 50px;
    background-color: #fff;
}
.content {
    padding-top: 60px;
}

@media only screen and (max-width: 1024px) {
    .nav {
        height: 100px;
    }
    .burger {
        display: block;
    }
    .nav .logo {
        text-align: center;
        display: block;
        line-height: 100px;
        margin-left: 0;
    }
    .nav-items {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        top: 100px;
    }
    .nav-items.show {
        display: block;
    }
    .nav-items li {
        display: block;
    }
}